@import './variables';

// Text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Images

.object-fit-cover {
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}
